rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users can read their own profile, and can create it.
    // They can only update their own profile.
    match /users/{userId} {
      allow read, create: if request.auth != null && request.auth.uid == userId;
      allow update: if request.auth != null && request.auth.uid == userId;
    }

    // Users can only read, write, create, and delete their own financial records.
    match /users/{userId}/records/{recordId} {
      allow read, write, create, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
